*{
  box-sizing: border-box;
}
body{
  background-color:red;
}
.modal_container{
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color:rgba(255,255,255,0.4);
}
.modal{
  position: relative;
  border: 1px solid white;
  background-color: white;
  width:400px;
  height:200px;
  margin: 200px auto;
  padding:10px;
}
.modalHeader{
  border-bottom: 1px solid #6f90b665;
  display: flex;
  justify-content: space-between;
}
.closeButton{
  outline: none;
  background-color:white;
  border:white;
  font-size: 30px;
}
.modalBody{
  
  border-bottom: 1px solid #6f90b665;
}
.modalFooter{
  position: absolute;
  bottom:8%;
  right:4px;
}
.backbtn{
  outline: none;
  background-color:#1152dd85;
  border: 1px solid white;
  font-size: 20px;
  color:white;
  text-align: center;
}
