.container{
  width:400px;
  height:100%;
  margin:100px auto;
  position: relative;
  
}
.table{
  margin-top: 10px;
  text-align: center;
  border:1px solid black;
  width:100%;
}
.Addbtn{
 position: absolute;
 right:0px;
 margin-top: 10px;
}
.form{
  position: absolute;
  bottom:-250px;
  right:0px;
}
form{
  display:flex;
  flex-flow: column wrap;
}
form > input{
  margin-bottom: 10px;
}

tr,td{
  border: 0.5px solid rgba(50, 104, 139, 0.596);
}